body {
  background: #a0cece;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(../img/shan.naziripour.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  font-size: 2em;
}

header p span {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(../img/rough-diagonal.png);
}

header p em {
  background: #eee;
  padding: 5px 0;
}

h1 {
  font-size: 4em;
}
h1 small {
  color: #fff;
  display: block;
}

.h1,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Knewave", cursive;
}

dialog {
  display: none;
  width: 100%;
  background: #fff275;
  min-height: 100vh;
  border: 0;
}

dialog:target {
  display: block;
}

dialog:target ~ header {
  display: none;
}
main nav {
  min-height: 100vh;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

main nav a {
  color: #fff;
  display: block;
  padding: 20px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main nav a em {
	font-family: "Knewave", cursive;
	font-size: 2.5em;
  font-style: normal;
  padding-bottom: 10px;
}

main nav a i {
  display: block;
}
main nav a[href="#me"] {
  background: #ed6a5a;
}
main nav a[href="#art"] {
  background: #f38816;
}
main nav a[href="#dev"] {
  background: #36c9c6;
}
main nav a[href="#cv"] {
  background: #30c5ff;
}

main nav a:focus,
main nav a:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}
.card {
  max-width: 18rem;
  margin: 0 15px 15px 0;
}