body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background: #f1f0ff;
  color: #746f98;
}
a {
  color: #49417d;
}
em {
  font-family: "Concert One", cursive;
}
h1 {
  text-align: center;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  color: #746f98;
}
h1 small {
  display: block;
}

main {
  display: flex;
  flex-direction: row;
}

figure {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

figure img {
  width: 80%;
  align-self: center;
}

figcaption {
  font-family: "IM Fell English", serif;
  align-self: center;
  transform: translateY(-2rem);
  margin-bottom: 3rem;
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
}

figcaption textarea {
  display: block;
  background: none;
  color: #49417d;
  font-family: "IM Fell English", serif;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 1.2rem;
  border-style: dashed;
}

figcaption button {
  border: 0;
  color: #49417d;
  background: none;
}

figcaption .form .button {
  color: #49417d;
  background: none;
  border: 1px solid;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-family: "Concert One", cursive;
  border-radius: 0.5rem;
  font-size: 1rem;
}
figcaption .form button.button {
  background: #fff;
  cursor: pointer;
}
figcaption .form a.button {
  text-decoration: none;
  background: #49417d;
  color: #fff;
}
figcaption .form a[disabled] {
  pointer-events: none;
  background: #757aa0;
  cursor: not-allowed;
}

figure:target ~ figure:last-child,
figure {
  display: none;
}

figure:last-child,
figure:target {
  display: flex;
}

.blur {
  filter: blur(0.3rem);
}

time {
  margin-left: 4rem;
  font-style: italic;
}

p:first-of-type::before {
  content: " ";
  display: block;
  background: url("img/bits.gif") no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  top: -2rem;
  left: -1.5rem;
  position: absolute;
}

p {
  position: relative;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  margin: 0.3rem 2rem;
  max-width: max-content;
}

p::after {
  content: " ";
  border-right: 0.3rem solid #fff;
  position: absolute;
  display: block;
  bottom: -0.6rem;
  height: 0.6rem;
}

p:last-of-type::after {
  display: none;
}

nav {
  position: fixed;
  width: 80vw;
  bottom: 3px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 600px;
  left: 50vw;
  transform: translateX(-50%);
}

nav button {
  background: none;
  border: none;
  color: #49417d;
  font-family: "Concert One", cursive;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
}
nav button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

nav button span {
  font-size: 1rem;
  text-shadow: #fff 2px 2px, #fff -2px -2px, #fff -2px 2px, #fff 2px -2px,
    #fff 2px 0px, #fff 0px -2px, #fff 0px 2px, #fff -2px 0px;
}

nav button:active,
nav button:hover {
  background-color: #49417d;
  color: #fff;
}

nav button:active span,
nav button:hover span {
  text-shadow: none;
}

#info,
#share {
  flex-grow: 1;
}

/* Mobile */
@media (max-width: 576px) {
  nav button span {
    display: none;
  }
  figure img {
    width: 100%;
  }
}

footer {
  font-style: italic;
  opacity: 0.8;
  max-width: 600px;
  margin: 0 auto 4rem auto;
  text-indent: 3rem;
}

[aria-hidden] {
  opacity: 0.7;
  pointer-events: none;
}

dialog .cancel {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 0;
}

dialog {
  box-shadow: rgb(0 0 0 / 25%) 0px 0 20px 10px;
  border-radius: 1rem;
  border: 0;
  pointer-events: all;
  top: 50%;
  width: 600px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  transform: translateY(-50%);
  animation: enter 500ms forwards;
  z-index: 2;
  position: fixed;
}
dialog::backdrop {
  background: rgba(255, 255, 255, 0.25);
}

dialog h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  color: #746f98;
}

dialog input {
  padding: 0.2rem;
  border-radius: 6px;
  border: 1px solid;
  color: #746f98;
}

@keyframes enter {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-50%);
    box-shadow: rgb(0 0 0 / 25%) 0px 12px 20px 10px;
  }
}

dialog ul,
dialog li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog li {
  background: #f1f0ff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

dialog p {
  background-color: #f1f0ff;
}

dialog p:first-of-type {
  margin-top: 2rem;
}

dialog p::after {
  border-right-color: #f1f0ff;
}

.img-wrapper {
  position: relative;
  padding-bottom: 50%;
  padding-top: 50%;
  height: 0;
}

.img-wrapper::after {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: pulse 1s ease infinite;
  background: #d3ceff;
  transition: all 300ms ease-out;
  clip-path: polygon(
    50% 30%,
    57% 13%,
    78% 0,
    100% 17%,
    100% 48%,
    50% 100%,
    0 48%,
    0 19%,
    21% 0,
    43% 14%
  );
}
.img-wrapper.loaded::after {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
  animation: forwards;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.img-wrapper img {
  background: #e9e7ff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
