.app {
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
}

.app-inner {
  min-height: 100vh;
}

.app--final .app-inner {
  animation: 2s 0.5s linear forwards push-out;
  pointer-events: none;
}

@keyframes push-out {
  100% {
    transform: translateY(100vh);
  }
}


h1, footer {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 span {
  align-self: center;
  margin-bottom: 0;
}

h1 small {
  font-family: "Yellowtail", cursive;
  display: block;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/* Desktop */
@media (min-width: 576px) {
  h1 i {
    display: none;
  }

  h1 b {
    display: inline-block;
  }

  h1 b:nth-child(3) {
    animation: 208ms 1.82s forwards break-left;
  }

  h1 b:nth-child(4) {
    animation: 208ms 1.82s forwards break-right;
  }

  @keyframes break-left {
    100% {
      color: #000;
      transform: translateY(14.6rem) rotate(45deg);
    }
  }

  @keyframes break-right {
    100% {
      color: #000;
      transform: translate(1.3rem, 16rem) rotate(-45deg);
    }
  }

  .phone {
    width: 18rem;
    height: 25rem;
    margin: 0 auto;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    transform-origin: 50% 50%;
    transition: all;

    animation: 2s cubic-bezier(1, -0.3, 0.9, 1.1) 0ms 1 normal forwards
      running slam;

    top: 50vh;
    box-shadow: black -5px 5px, black -10px 10px,
      rgba(0, 0, 0, 0.15) 10px -7px 20px, rgba(0, 0, 0, 0.2) 0px 1px 20px 0px;
    transform: translateY(-50%) rotate3d(1, 1, -3, 45deg);
  }

  @keyframes slam {
    0% {
      box-shadow: black -5px 5px, black -10px 10px,
        rgba(0, 0, 0, 0.15) 0px 50vh 100px;
      transform: translateY(calc(-50vh - 200%)) rotate3d(1, 1, -3, 45deg);
    }
    100% {
      box-shadow: black -5px 5px, black -10px 10px,
        rgba(0, 0, 0, 0.15) 10px -7px 20px, rgba(0, 0, 0, 0.2) 0px 1px 20px 0px;
      transform: translateY(-50%) rotate3d(1, 1, -3, 45deg);
    }
  }

  .phone::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 10px;
    background: black;
    border-radius: 0 0 14px 14px;
    left: 0;
    transform: translateX(50%);
  }
}

.phone-content {
  min-height: 100%;
  overflow-y: auto;
  flex-direction: column-reverse;
}

.phone-content > li:first-child {
  padding-bottom: 10px;
}

.phone-content > li:last-child {
  padding-top: 10px;
}

/* Mobile */
@media (max-width: 576px) {

  .phone-content {
    min-height: 100vh;
  }

  h1 {
    z-index: 1;
    background: #fff;
    animation: 100ms 2s forwards fade-out;
    pointer-events: none;
  }

  .app--final .app-inner {
    display: none;
  }

  h1 span {
    transform: scale(0.5, 0) rotate(3deg);
    transition: all 200ms;
  }
  h1 small {
    opacity: 0;
    transition: all 200ms;
  }

  .app--loaded h1 span {
    transform: none;
  }

  .app--loaded h1 small {
    opacity: 1;
  }

  h1 i {
    font-size: 7rem;
    font-style: normal;
    line-height: 1;
  }

  h1 b {
    display: none;
  }

  h1 i:nth-child(1) {
    position: absolute;
    animation: 2s forwards hide-me;
  }

  @keyframes fade-out {
    100% {
      opacity: 0;
    }
  }

  @keyframes hide-me {
    0% {
      transform: scale(1.2);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}


/* List Reset */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

ul > li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  flex-shrink: 1;
  justify-content: flex-end;
}
/* Bubble Style */
.bubble {
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  margin: 0 20px;
  position: relative;
  max-width: 70%;
  border: 0;
  z-index: 0;
  margin-bottom: 10px;
  text-align: left;
}

.bubble--you {
  align-self: flex-start;
  color: black;
  background: rgb(229, 229, 234);
}

.bubble--you:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid rgb(229, 229, 234);
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.bubble--you:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: -2px;
  left: 18px;
  width: 12px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.bubble--me {
  justify-content: flex-end;
  color: white;
  background: rgb(63, 144, 241);
}

button.bubble--me {
  font-size: 1rem;
  margin-bottom: 5px;
  width: max-content;
}

.share-btn.bubble--me:hover,
button.bubble--me:hover,
button.bubble--me:active {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 20px;
}

span.bubble--me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid rgb(63, 144, 241);
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

span.bubble--me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -42px;
  width: 12px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

/* Loading Message */
.dot-flashing-wrapper {
  width: 40px;
  position: relative;
  text-align: center;
  animation: hide-box 0.5s 1s forwards;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #a9a9a9;
  color: #a9a9a9;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin: 0 auto;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #a9a9a9;
  color: #a9a9a9;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #a9a9a9;
  color: #a9a9a9;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #a9a9a9;
  }
  50%,
  100% {
    background-color: #bebebe;
  }
}

/* Form */
form {
  border-radius: 15px;
  border: 1px solid rgb(229,229,234);;
  display: flex;
  max-width: calc(100% - 30px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 5px;
}

form textarea {
  border: 0;
  outline: 0;
  flex-grow: 1;
  height: 1em;
  min-height: 1em;
  max-height: 4em;
  resize:vertical;
}

form button {
  border-radius: 100%;
  border: 0;
  padding: 0 2px;
  color: white;
  background: rgb(63,144,241);
  align-self: flex-end;
  justify-content: flex-end;
}

form button img {
  height: 1.2em;
  transform: scale(1.1,0.9) translateY(2px);
}

/* Dynamic Reordering Of Options */
.reorder-0 li:first-child {
  order: 1;
}

.reorder-1 li:last-child {
  order: -1;
}

.reorder-2 li:nth-child(2) {
  order: 1;
}

.reorder-3 li:nth-child(2) {
  order: -1;
}

.reorder-4 li:first-child {
  order: 1;
}

.reorder-4 li:last-child {
  order: -1;
}
